<template>
    <div class="mdc-card ">
      <div class="card-header text-white entete-profil">
        <h3>Ajouter un utilisateur</h3>
      </div>
      <div class="card-body ">
        <form role="form">
          <div class="form-group">
            <label class="col-sm-3 col-form-label">Prénom</label>
            <div class="col-sm-9">
              <input type="text" placeholder="first name" class="form-control" value.bind="contact.firstName">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-3 col-form-label">Nom</label>
            <div class="col-sm-9">
              <input type="text" placeholder="last name" class="form-control" value.bind="contact.lastName">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-3 col-form-label">Adresse mail</label>
            <div class="col-sm-9">
              <input type="text" placeholder="email" class="form-control" value.bind="contact.email">
            </div>
          </div>
  
          <div class="form-group">
            <label class="col-sm-3 col-form-label">Téléphone</label>
            <div class="col-sm-9">
              <input type="text" placeholder="phone number" class="form-control" value.bind="contact.phoneNumber">
            </div>
          </div>
        </form>
        <div class="mdc-card__actions">
          <button class="mdc-button mdc-card__action mdc-card__action--button" click.delegate="create()">
            <i class="material-icons bouton ajout">
              add_circle
              </i>
          </button>
      </div>
      </div>
    </div>
  </template>
  

  