header{
  
}

.entete-profil{
  background-color: rgb(51, 51, 161);
}

[class*="bouton"]{
  transition: all .2s ease-in-out;
}

[class*="bouton"]:hover{
  transform: scale(1.3);
}

.delete{
  color:rgb(255, 60, 0);
}

.save{
  color:rgb(81, 167, 107);
}

.container{
  padding:100px;
}

a{
  transition: all .2s ease-in-out;
}

a:hover{
  transform: scale(1.1);
}

a:focus {
  outline: none;
}

li.loader {
  margin: 12px 24px 0 6px;
}

.no-selection {
  margin: 20px;
}

.mdc-list {
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.panel {
  margin: 20px;
}

.button-bar {
  right: 0;
  left: 0;
  bottom: 0;
  border-top: 1px solid #ddd;
  background: white;
}

.button-bar > button {
  float: right;
  margin: 20px;
}

li.mdc-list-item {
  list-style: none;
  height:100px;
}

li.mdc-list > a {
  text-decoration: none;
}

li.mdc-list-item.active > a {
  color: white;
  text-decoration: none;
}

.mdc-list-item.active{
  background-color:rgb(51, 51, 161); 
}

section a:hover{
  color:white;
  text-decoration: none;

}

.autres{
  background-color: rgb(51, 51, 161);
  width:200px;
  height:200px;
}
